body {
    font-family: arial, sans-serif;
    text-align:center;
    background-color: aliceblue;
}

p {color: black;
}

/* Fragetext */
h1 {position:static;
    margin: 2rem 0 2rem 0;
    color: rgb(117, 134, 153);
    font-size: 1.2em;
}


/* Spielinfo Box */
.info {
    margin: 1rem 0 1rem 0;
}


/* Canvas */

.anim {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

canvas {
    margin: 1rem 0 1rem 0;
    display: inline;
}

/* Ergebnisanzeige */

p#resa {color: black;
    font-size: 1.5em;
}

p#resb {color: rgb(126, 79, 79);
    font-size: 2.5em;
}

p#resc {color: black;
}

/* Quizbuttons */

.options {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 4px;
    background-color: #d7966d;
    border: none;
    color: #FFFFFF;
    font-size: 1em;
    padding: 10px;
    width: 15em;
    transition: all 1s;
    cursor: pointer;
    opacity:1;
}

button:hover {
	background-color: #598ebb;
} 

/* Schieberegler */

.togglebox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggletext {
    margin: 1.5rem 1rem 1rem 4rem;
    color: rgb(117, 134, 153);
    float:left;
}

.toggle {
    float:right;
    margin: 1rem 1rem 1rem 0.5rem;
    position: relative;
    width: 4rem;
    height: 2rem;
}

.toggle input {
    display: none;
}

.roundbutton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #598ebb;
    display: block;
    transition: all 0.3s;
    border-radius: 2.5rem;
    cursor: pointer;
}

.roundbutton:before {
    position: absolute;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 100%;
    display: block;
    left: 0.3rem;
    bottom: 0.22rem;
    background-color: white;
    transition: all 0.3s;
}

input:checked + .roundbutton {
    background-color: #d7966d;
}

input:checked + .roundbutton:before  {
    transform: translate(1.8rem, 0);
}

/* Reloadbutton */

div#restartbutton {
    position: static;
}

button#restart {
    width: 10em;
    margin: 3em 0 0 0;
    position: fixed;
    bottom: 0;
    background-color: #976dd7;
    transition: all 1s;
    cursor: pointer;
    opacity:1;
}

button#restart:hover {
	background-color: #3a5873;
} 
